{% extends "base.html" %}

{% block title %}Set Goals{% endblock %}

{% block content %}
<h2>Set Your Daily Nutritional Goals</h2>
<form method="POST" action="{{ url_for('goals') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.calories.label }}<br>
        {{ form.calories(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.protein.label }}<br>
        {{ form.protein(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.carbs.label }}<br>
        {{ form.carbs(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.fat.label }}<br>
        {{ form.fat(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.bmi.label }}<br>
        {{ form.bmi(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.fitness_level.label }}<br>
        {{ form.fitness_level(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.health_issues.label }}<br>
        {{ form.health_issues(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.veg_preference.label }}<br>
        {{ form.veg_preference(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.weight_goal.label }}<br>
        {{ form.weight_goal(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.dietary_restrictions.label }}<br>
        {{ form.dietary_restrictions(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class_="btn btn-primary") }}
    </div>
</form>
{% endblock %}
